body {
    font-family: Arial, sans-serif;
}
.job-container {
    display: grid;
    grid-template-columns: repeat(
        var(--maxDays),
        1fr);
    gap: 1px;
    margin-bottom: 10px;
}
.job {
    display: contents;
}
.day {
    height: 20px;
    text-align: center;
    min-width: 10px;
}
.active-day {
    background-color: #4caf50;
    color: white;
}
.category-header {
    font-weight: bold;
    padding: 20px 0;
    margin-top: 20px;
}
.job-title {
    text-align: left;
    font-size: 11px;
    min-width: 50px;
}
